{% extends "base.html" %}
{% block content %}

<h1>Справочник регионов</h1>

<form method="post" action="/admin/regions/save-all">
<div class="table-wrapper">
  <table class="report-table compact-table regions-table">
    <thead>
      <tr>
        <th>Group ID</th>
        <th>Название группы Zammad</th>
        <th>Название в отчете</th>
      </tr>
    </thead>

    <tbody>
      {% for g in groups %}
      <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.name }}</td>

        <td class="region-name-col">
          <input type="hidden" name="group_id" value="{{ g.id }}">
          <input
            type="text"
            name="name"
            value="{{ mapping[g.id].name if g.id in mapping else '' }}"
            class="region-name-input"
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
<div class="page-actions">
  <button type="submit" data-icon="fa-floppy-disk">Сохранить изменения</button>
</div>
</form>

{% endblock %}
